<?xml version="1.0"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.5">
	<listener>
		<listener-class>
			org.exoplatform.services.portletcontainer.impl.servlet.PortletApplicationListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>PortletWrapper</servlet-name>
		<servlet-class>
			org.exoplatform.services.portletcontainer.impl.servlet.ServletWrapper
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletWrapper</servlet-name>
		<url-pattern>/PortletWrapper</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortletWrapper</servlet-name>
		<url-pattern>/PortletWrapper/*</url-pattern>
	</servlet-mapping>        
</web-app>
