#MobileNav ul{
	margin:0;
	padding:0;
}

#MobileNav ul.container{
	margin:0;
}

#MobileNav li{
	list-style:none;
	text-align:left;
}

#MobileNav li.menu{
	width:100%;
}

#MobileNav li.button a{
	text-shadow: 1px 1px 1px white;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	height: 28px;
	overflow: hidden;
	padding: 10px 45px 0;
	position: relative;
}

#MobileNav li.button a:hover{
	text-decoration:none;
}

#MobileNav li.button a span{
	height:44px;
	position:absolute;
	right:0;
	top:0;
	display:block;
}


#MobileNav li.button a.green{background:#D7D4D4 url(img/bg_grey.png) repeat-x 0 -1px;}

#MobileNav li.button a.green span {
	position: absolute;
	left: 10px;
	width: 34px;
	margin-top: -5px;
	
}

#MobileNav li.button a.green span.right {
	background: url(img/arrow_grey_right.png) no-repeat 0 center;
}

#MobileNav li.button a.green span.down {
	background: url(img/arrow_grey_down.png) no-repeat 0 center;
}

#MobileNav li.button a:hover{ background-position:bottom left;}

#MobileNav .dropdown{
	border-top: 1px solid white;
	display:none;
	width:100%;
}

#MobileNav .dropdown li{
	text-shadow: 1px 1px 1px white;
	background-color: #ECECEC;
	border-bottom: 1px solid #CCC;
	padding: 4px 35px;
}

#MobileNav h1{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:36px;
	font-weight:normal;
	margin-bottom:15px;
}

#MobileNav h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-right:140px;
	right:0;
	text-align:right;
	text-transform:uppercase;
	top:15px;
}

#MobileNav .clear{
	clear:both;
}

#MobileNav {
	font: bold 14px Arial, sans-serif;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	margin-bottom: 10px;
}

#MobileNav a, #MobileNav a:visited {
	color:#092B59;
	text-decoration:none;
	outline:none;
}

#MobileNav a:hover{
	text-shadow: 1px 1px 1px white;
}

#MobileNav p{
	/* The tut info on the bottom of the page */
	padding:10px;
	text-align:center;
}

#MobileNav .arrowforchild{
	position: absolute;
	top: 50%;
	left: 14px;
	width: 34px;
	margin-top: -17px;
	height: 34px;
	background: url(img/arrow_grey_right.png) no-repeat 0 center;
}